body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header {
    display: flex;
    background-color: rgb(186, 179, 255);
    height: 90px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    color: white;
    font-size: 35px;
    font-weight: 700;
    justify-content:space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-left: 20px;  
    border: solid white 2px;
    padding: 10px;
    border-radius: 40px;
}

.title {
    margin-right: 20px;
    border: solid white 2px;
    padding: 8px;
    border-radius: 10px;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-row {
    display: flex;
}

.timer-container {
    display: flex;
    border: solid black 0;
    padding: 200px;
    padding-top: 150px;
    height: 290px;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 40px;
    background-color: rgb(43, 43, 95);
}

.category {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ctgry-btn {
    color: white;
    background-color: rgb(43, 43, 95);
    border: solid white 2px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}

.timer {
    font-size: 100px;
    font-weight: 700;
    color: white;
}

#start {
    box-sizing: border-box;
    width: 230px;
    height: 80px;
    background-color: white;
    border-radius: 30px;
    border: 0;
    font-size: 40px;
    font-weight: 700;
    color: rgb(43, 43, 95);
}

.tasks-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 50px;
    background-color: rgb(186, 179, 255);
    align-items: center;
    border-radius: 40px;
}

.tasks-title {
    font-size: 50px;
    color: white;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task-item {
    color: white;
    font-size: 30px;
    border: solid white 2px;
    text-align: center;
    padding: 7px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 25px;
    margin: 7px;
}

.add {
    color: white;
    font-size: 30px;
    font-weight: 700;
    border: dotted rgb(137, 132, 181) 4px;
    text-align: center;
    padding: 7px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 25px;
    margin: 7px;
    background-color: rgb(158, 152, 212);
}

.footer {
    display: flex;
    background-color: rgb(186, 179, 255);
    height: 90px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    color: white;
    font-size: 35px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer .logo {
    padding: 5px;
    border: solid white 2px;
    font-size: 20px;
}


