.text-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.check-button {
    height: 50px;
    padding: 5px 10px;
    margin-right: 5%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

.time-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hours-select,
.minutes-select {
    padding: 5px;
    font-size: 40px;
    background: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
    overflow-y: hidden;
}

.colon-separator {
    font-size: 40px;
    line-height: 35px;
}

.hours-select option,
.minutes-select option {
    background-color: rgb(186, 179, 255); /* Default background color of options */
    color: white; /* Default text color */
}

.hours-select option:hover,
.minutes-select option:hover {
    background-color: #007bff; /* Highlight background for hovered option */
    color: white; /* Highlighted text color */
}


.task-text {
    color: white;
    background: transparent;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-right: 2px;
    width: 40%;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    border: transparent;
    border-radius: 5px;
}